.DS_Store
*/ext_metadata.json
*/*/*.json
*/*/*summary 
*/.ipcache/*
*.str
*/hd_visual/*
*/hd_visual
*/hd_visual/
hd_visual/*
hw
*/hw
sw_emu
*/sw_emu
hw_emu
*/hw_emu
saved_npy_data/
delete
*.swp
*run_summary
*/xclbin/*
*/xclbin
*/xclbin/*
*.run/*
TempConfig
system_estimate.xtxt
*.rpt
*.protoinst
*.xo.*
_v++_*
.Xil
emconfig.json
dltmp*
xmltmp*
*.jou
*vadd.link.xclbin.run_summary
*/xclbin
_x/*
_x.*
.ycm_extra_conf.py
v++.compile_summary
hls_output
integrated_accelerator/entire-node-systolic-computation-without-FIFO-type-assignment-latest-PE-LUT-construction/hd_visual/
integrated_accelerator/entire-node-systolic-computation-without-FIFO-type-assignment-latest-PE/hd_visual/
