# Variable to be replaced (<--variable_name-->):
#   DEVICE_NAME
#   FREQ
#   sp_memory_channel
#   stage2_memory_channel
#   meta_info_memory_channel
#   connectivity_HBM_OPQ_matrix
#   output_memory_channel

profile_kernel=data:all:all:all
kernel_frequency=140
debug=1

[connectivity]
nk=vadd:1:vadd_1
# slr=vadd_1:SLR0
sp=vadd_1.HBM_in0:HBM[0]
sp=vadd_1.HBM_in1:HBM[3]
sp=vadd_1.HBM_in2:HBM[5]
sp=vadd_1.HBM_in3:HBM[8]
sp=vadd_1.HBM_in4:HBM[10]
sp=vadd_1.HBM_in5:HBM[13]
sp=vadd_1.HBM_in6:HBM[15]
sp=vadd_1.HBM_in7:HBM[18]
sp=vadd_1.HBM_in8:HBM[20]



sp=vadd_1.HBM_meta_info:HBM[23]
sp=vadd_1.HBM_vector_quantizer:HBM[25]
    
sp=vadd_1.HBM_out:HBM[28]

[vivado] 
# param=project.writeIntermediateCheckpoints=true

##### Enable one of the following strategies by uncomment the options #####
prop=run.impl_1.strategy=Performance_SpreadSLLs
# prop=run.impl_1.strategy=Performance_BalanceSLLs
# prop=run.impl_1.strategy=Congestion_SSI_SpreadLogic_high

